@import "variables";

@if $ease == true {
  .anim-ease {
    animation-timing-function: ease;
    transition-timing-function: ease;
  }
}

@if $ease-in == true {
  .anim-ease-in {
    animation-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
}

@if $ease-out == true {
  .anim-ease-out {
    animation-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}

@if $ease-in-out == true {
  .anim-ease-in-out {
    animation-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

@if $ease-in-sine == true {
  .anim-ease-in-sine {
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

@if $ease-out-sine == true {
  .anim-ease-out-sine {
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

@if $ease-in-out-sine == true {
  .anim-ease-in-out-sine {
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@if $ease-in-quad == true {
  .anim-ease-in-quad {
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
}

@if $ease-out-quad == true {
  .anim-ease-out-quad {
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

@if $ease-in-out-quad == true {
  .anim-ease-in-out-quad {
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

@if $ease-in-cubic == true {
  .anim-ease-in-cubic {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

@if $ease-out-cubic == true {
  .anim-ease-out-cubic {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@if $ease-in-out-cubic == true {
  .anim-ease-in-out-cubic {
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@if $ease-in-quart == true {
  .anim-ease-in-quart {
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
}

@if $ease-out-quart == true {
  .anim-ease-out-quart {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@if $ease-in-out-quart == true {
  .anim-ease-in-out-quart {
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
}

@if $ease-in-quint == true {
  .anim-ease-in-quint {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
}

@if $ease-out-quint == true {
  .anim-ease-out-quint {
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@if $ease-in-out-quint == true {
  .anim-ease-in-out-quint {
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@if $ease-in-expo == true {
  .anim-ease-in-expo {
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }
}

@if $ease-out-expo == true {
  .anim-ease-out-expo {
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@if $ease-in-out-expo == true {
  .anim-ease-in-out-expo {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
  }
}

@if $ease-in-circ == true {
  .anim-ease-in-circ {
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

@if $ease-out-circ == true {
  .anim-ease-out-circ {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@if $ease-in-out-circ == true {
  .anim-ease-in-out-circ {
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

@if $ease-in-back == true {
  .anim-ease-in-back {
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

@if $ease-out-back == true {
  .anim-ease-out-back {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@if $ease-in-out-back == true {
  .anim-ease-in-out-back {
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}